@model IEnumerable<Bookstore.Domain.Book>

@{
    ViewBag.Title = "Admin: All Books";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>All Books</h3>
        <div class="text-right form-group">
            <form action="Index" method="post">
                <input name="searchValue" type="text" placeholder="Search for products" class="form-control" />
                <input type="submit" value="Search" class="btn btn-info" />
            </form>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specialization)
                </th>
                <th>
                    Action
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Title, "Edit", new { BookID = item.BookID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-right">
                        @item.Price.ToString("c")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialization)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { BookID = item.BookID }, new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add New Book", "Create", null, new { @class = "btn btn-default" })
    </div>
</div>

